        <!-- Bottom Navigation for Mobile -->
        <nav class="fixed bottom-0 left-0 right-0 bg-blue-600 text-white p-4 md:hidden">
            <ul class="flex justify-around">
                <li>
                    <a class="flex flex-col items-center" href="#">
                        <i class="fas fa-home text-xl">
                        </i>
                        <span class="text-xs">
                            Home
                        </span>
                    </a>
                </li>
                <li>
                    <a class="flex flex-col items-center" href="#">
                        <i class="fas fa-bullseye text-xl">
                        </i>
                        <span class="text-xs">
                            Goals
                        </span>
                    </a>
                </li>
                <li>
                    <a class="flex flex-col items-center" href="#">
                        <i class="fas fa-video text-xl">
                        </i>
                        <span class="text-xs">
                            Videos
                        </span>
                    </a>
                </li>
                <li>
                    <a class="flex flex-col items-center" href="#">
                        <i class="fas fa-comments text-xl">
                        </i>
                        <span class="text-xs">
                            Forums
                        </span>
                    </a>
                </li>
                <li>
                    <a class="flex flex-col items-center" href="#">
                        <i class="fas fa-user text-xl">
                        </i>
                        <span class="text-xs">
                            Profile
                        </span>
                    </a>
                </li>
            </ul>
        </nav>