<header class="bg-blue-600 text-white p-4 sticky top-0 z-50">
    <div class="container mx-auto flex justify-between items-center">
        <h1 class="text-2xl font-bold">
            Health &amp; Fitness Tracker
        </h1>
        <nav class="hidden md:block">
            <ul class="flex space-x-4">
                <li>
                    <a class="hover:underline" href="/dashboard">
                        Home
                    </a>
                </li>
                <li>
                    <a class="hover:underline" href="/goals">
                        Goals
                    </a>
                </li>
                <li>
                    <a class="hover:underline" href="/video">
                        Videos
                    </a>
                </li>
                <li>
                    <a class="hover:underline" href="#">
                        Forums
                    </a>
                </li>
                <li>
                    <a class="hover:underline" href="#">
                        Profile
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>